{% extends 'admin-dash/basic_layout.html' %}
{% block basic_content %}
    <div class="admin-nav">
        <div class="admin-nav-header text-center">
            <img src="{{ url_for('static', filename='images/uw_icon.png') }}">
            <h4 class="admin-nav-header-text"><span class="uw_lighter">Welcome, </span><strong>admin123</strong>!</h4>
            <h6><a id="admin-logout">Logout</a></h6>
        </div>
        <div class="admin-nav-item">
            <a class="admin-nav-link .active" href="#">
                <div class="row admin-nav-row">
                    <span class="glyphicon glyphicon-home admin-nav-icon"></span><h5 class="admin-nav-text">Home</h5>
                </div>
            </a>
        </div>
        <div class="admin-nav-item">
            <a class="admin-nav-link" href="#">
                <div class="row admin-nav-row">
                    <span class="glyphicon glyphicon-book admin-nav-icon"></span><h5 class="admin-nav-text">About</h5>
                </div>
            </a>
        </div>
        <div class="admin-nav-item">
            <a class="admin-nav-link" href="#">
                <div class="row admin-nav-row">
                    <span class="glyphicon glyphicon-info-sign admin-nav-icon"></span><h5 class="admin-nav-text">Resources</h5>
                </div>
            </a>
        </div>
        <div class="admin-nav-item">
            <a class="admin-nav-link" href="#">
                <div class="row admin-nav-row">
                    <span class="glyphicon glyphicon-globe admin-nav-icon"></span><h5 class="admin-nav-text">Counties</h5>
                </div>
            </a>
        </div>
        <div class="admin-nav-item">
            <a class="admin-nav-link" href="#">
                <div class="row admin-nav-row">
                    <span class="glyphicon glyphicon-user admin-nav-icon"></span><h5 class="admin-nav-text">Members</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="body-content">
        <div class="body-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}