<div class="modal fade" id="edit-location-modal" tabindex="-1" role="dialog" aria-labelledby="edit-location-modal-label" aria-hidden="true">
    <div class="modal-dialog edit-location-modal-dialog" role="document">
        <div class="modal-content text-center edit-location-modal container">
            <div class="modal-body">
                <div class="row">
                    <input placeholder="name" class="edit-location-input input input-lg col-md-10 col-md-offset-1" type="text" id="edit-location-name">
                </div>
                <div class="row">
                    <input placeholder="address" class="edit-location-input input input-lg col-md-10 col-md-offset-1" type="text" id="edit-location-address">
                </div>
                <h6 id="current-location-name">location name</h6>
                <div class="col-md-10 col-md-offset-1">
                    <button type="button" class="edit-location-btn close-modal btn btn-secondary btn-lg col-md-6" data-dismiss="modal">Close</button>
                    <button onclick="editLocation()" type="button" class="edit-location-btn save-changes btn btn-primary btn-lg col-md-6">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>