<li class="achievement-club-location">
    <div class="location-left">
        <h4>{{ location.name }}</h4>
        <h5 class="uw_lighter">{{ location.county }} County</h5>
        <h6 class="uw_lighter">{{ location.address }}</h6>
    </div>
    <div class="location-right">
        <div class="btn-group edit-delete-location">
            <button id="{{ location.name }}-edit" onclick='editLocation("{{location.name}}")' class="btn-sm btn-default location-btn edit-location"><span class="glyphicon glyphicon-pencil"></span></button>
            <button id="{{ location.name }}-delete" onclick='deleteLocation("{{location.name}}")' class="btn-sm btn-default location-btn add-location"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>

</li>