<div class="admin-dash-item home-locations">
    <div class="admin-dash-item-wrapper">
        <h4 class="admin-dash-sub-header text-center">Current Achievement Club Locations</h4>
        <ul class="list-unstyled locations-list">
            {% for location in locations %}
            <li class="achievement-club-location">
                <h5>{{ location.name }}</h5>
                <h6><small>{{ location.address }}</small></h6>
            </li>
            {% endfor %}
        </ul>
        <div class="row form-group admin-dash-input-group">
            <input class="input input-sm admin-dash-input address-input col-xs-4" type="text" placeholder="name">
            <input class="input input-sm admin-dash-input address-input col-xs-6" type="text" placeholder="address">
            <button class="btn btn-sm admin-dash-button col-xs-2"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>