:root {
    --uw_blue: #101B7B;
    --uw_red: #FF001C;
    --uw_orange: #FF9A36;
    --uw_lavender: #767DAC;
    --uw_white: #FEF9FF;
    --primary_dark: #212121;
    --primary_light: #DDD;
    --education: #8D9ECE;
    --health: #D54C61;
    --income: #FFC542;
    --civic: #8D95AB;
    --community: #9DAC51;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--uw_white);
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100vw;
    min-height: 40px ! important;
    height: 40px ! important;
    /*background-color: transparent;*/
    border: none;
    border-radius: 0px;
    margin-bottom: 0 ! important;
    padding-bottom: 0 ! important;
}

.nav-items {
    margin-top: 8px;
}



.nav-item:not(.active) {
    color: var(--uw_white);
}

.active, .nav-item:hover {
    color: var(--uw_orange) ! important;
    border-bottom: 1px solid var(--uw_orange);
    text-decoration: none;
}

/*home page*/
.main {
    position: relative;
    background-image: url(../images/uw_home_bkgrd.png);
    /*background-size: 1700px 544px;*/
    background-size: auto 100%;
    background-position: center;
    height: 90vh;
    width: 100vw;
    margin-top: 0 ! important;
    padding-top: 0 ! important;
    margin-bottom: 0;

}

.uw-logo {
    position: absolute;
    background-color: var(--primary_dark);
    height: 90vh;
    width: 100vw;
    top: 0px;
    opacity: 0.5;
}

.uw-logo-img {
    position: absolute;
    top: 35%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

@media screen and (min-height:600px) {
    top: 45%;
}

@media screen and (max-width: 775px) and (min-height: 300px) {
    .uw-logo-img {
    }
}

@media screen and (max-height: 200px) {
    .main {
        height: 150vh;
    }

    .uw-logo {
        height: 150vh;
    }

}

.logo-header {
    color: var(--uw_white) ! important;
    margin-top: 10px ! important;
    font-weight: 300 ! important;
    /*font-family: 'Enriqueta', sans-serif;*/
}

/*home page- about*/

.home-about-bkgrd {
    background: url('../images/atlanta.png');
    background-size: 100% 100%;
    height: 100vh;
    min-height: 600px;
    margin-bottom: 0;
    position: relative;
}

.home-about-fade {
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    background-color: var(--uw_white);
    opacity: 0.8;
    position: relative;
}


.home-about {
    position: absolute;
    background-color: transparent;
    top: 90vh;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    color: var(--uw_blue);
}


.circles {
    margin-top: 2%;
    margin-bottom: 2%;
}

.circle {
    background-color: var(--uw_lavender);
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    min-height: 100px;
    min-width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;

}

.circle-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--uw_white) ! important;
}

@media screen and (max-height: 200px) {

    .home-about {
        top: 150vh;
    }
}

@media screen and (max-width: 1000px){

    .circle-text {
        font-size: 1.5em;
    }

}

@media screen and (max-width:600px) {

    .circle {
        height: 20vh;
        width: 20vh;
    }

    .circle-text {
        font-size: 1.25em;
    }
}

@media screen and (max-width:450px) {
    .circle-text {
        font-size: 1em;
    }
}

/*home page-success*/

.home-success {
    background-color: var(--uw_lavender);
    color: var(--uw_blue);
    margin-bottom: 0;
}

.success-desc {
    color: var(--uw_blue) ! important;
    font-weight: lighter;
}

.success-header {
    margin-bottom: 50px;
    color: var(--uw_blue);
}

.success-story {
    height: 200px;
    margin-bottom: 25px;
}

.success-img-right {
    float:right;
}

@media screen and (max-width:1200px) {
    .success-story {
        height:300px;
    }
}

@media screen and (max-width:1000px) {
    .success-story {
        height: 500px;
        text-align: center;
    }
    .success-img-right, .success-img-left {
        float:none;
    }
}

@media screen and (max-width:600px) {

    .success-header {
        font-size: 0.75em ! important;
    }
    .success-story {
        height: 550px;
    }
}

@media screen and (max-width:400px) {
    .success-story {
        height: 700px;
    }
}

/*home page-atl map*/

.home-atl-map {
    background-color: var(--primary_light);
    color: var(--uw_blue);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-top: 1px solid var(--primary_light);
    border-bottom: 1px solid var(--primary_light);
}

.map-wrapper {
    width: 100%;
    padding: 0;
}

#atlMap {
    height:100vh;
    min-height: 400px;
}

.atl-map-header {
}

.map-text {
    color: var(--uw_blue);
    background-color: var(--primary_light);
    height: 100vh;
    display: table;
}

.center-map-text {
    display: table-cell;
    vertical-align: middle;
}

.map-button {
    margin-top: 2%;
}

.map-img {
    margin-bottom: 2%;
}

/*home page-involement*/

.home-involvement-wrapper {
    height: 80vh;
    min-height: 500px;
    background-color: var(--uw_white);
    margin-top: 0 ! important;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--uw_blue);
    margin-bottom: 0;
}

.home-email {
    margin-top: 15vh;
    height: 70%;
    background-color: var(--uw_white);
    border-right: 1px dashed var(--uw_lavender);

}

.home-involvement {
    margin-top: 15vh;
    height: 70%;
    background-color: var(--uw_white);

}

.home-about-sub-heading {
    color: var(--uw_lavender);
    margin-bottom: 5%;
}


/*about page*/

/*about page-header*/

.about-bkgrd {
    height: 90vh;
    background: url(../images/bricks.png);
    background-size: 100% auto;

}

.about-bkgrd-fade {
    height: 90vh;
    background-color: var(--uw_lavender);
    position: relative;
    opacity: 0.8;

}

.about-header {
    position: absolute;
    top: 0;
    height: 75vh;
    background-color: transparent;
    color: var(--uw_white);
    font-weight: 300;
    display: table;
}

.about-header-text {
    vertical-align: middle;
    display: table-cell;
}

/*about-page description*/

.about-description {
    background-color: var(--uw_white);
    color: var(--uw_blue);
    margin-bottom: 0;
}

/*about page-content*/

.about-content {
    margin: 0;
    padding: 0;
}

.about-content-pic {
    height: 100vh;
    background: url('../images/community.png');
    background-position: center;
    background-size: auto 100vh;
    padding: 0;
    position: relative;
}

.about-content-pic-fade {
    background-color: var(--uw_white);
    opacity: 0.75;
    height: 100vh;

}

.about-content-text {
    position: absolute;
    top: 0;
    color: var(--uw_blue);
    display: table;
    height: 100vh;
}

.about-content-text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.about-peer-support {
    height: 50vh;
    background-color: var(--uw_lavender);
    display: table;
    color: var(--uw_blue);
}

.about-cc-transfers {
    height: 50vh;
    background-color: var(--primary_light);
    display: table;
    color: var(--uw_blue);
}

.peer-support-table {
    display: table-cell;
    vertical-align: middle;
}

.cc-transfers-table {
    display: table-cell;
    vertical-align: middle;
}

/*about page-goals*/

.about-goals {
    background-color: var(--uw_white);
    color: var(--uw_blue);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    height: auto;
}

.goals-container {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.goals-wrapper {
    width: 100%;
}
.goal-wrapper {
    display: inline-block;
}
.goal {
    display: table;
    height: 325px;
    width: 20vw;
    float: left;
    margin-right: -3px; /* inline block elements add automatic margins */
    margin-bottom: -4px;
}

.goal-content {
    display: table-cell;
    vertical-align: middle;
}

.goal-img-wrapper, .goal-description-wrapper {
    display: table;
    height: 150px;
    width: 100%;
}

.goal-img, .goal-desc {
    display: table-cell;
    vertical-align: middle;
}

.goal-description-wrapper {
    display: none;
}

.goals-header {
    margin-bottom: 1%;
}

.goal:hover .goal-description-wrapper {
    display: table;
    padding: 2%;
    cursor: default;
}

.goal:hover .goal-img-wrapper {
    /*display: none;*/
    height: 50px;
}

.goal:hover .img-goal {
    height: 50px;
}

.goal:hover {
    /*background-color: var(--uw_blue);*/
    border: 2px solid var(--primary_light);
}

/*about page-success stories*/

.about-success-stories {
    background-color: var(--uw_lavender);
    height: 100vh;
    display: block;
    margin-bottom: 0;
}


/*footer*/

.uw_footer {
    background-color: var(--uw_blue) ! important;
    color: var(--uw_white) ! important;
    margin-bottom: 0;
    margin-top: 0;
    height: 50vh;
    min-height: 300px;
}

.social-icon {
    margin-left: 3%;
}

#map {
    width: 70%;
    height: 35%;
    min-height:200px;
    float: right;
}

@media screen and (max-width:1000px) {
    #map {
        display:none;
    }
}

@media screen and (max-width:500px) {
    .uw_footer {
        min-height:350px;
    }
}


/*general*/

.uw_button {
    color: var(--uw_blue);
    border: 1px solid var(--uw_blue);
    background-color: transparent;
}

.uw_button:hover {
    color: var(--uw_orange);
    border: 1px solid var(--uw_orange);
    background-color: transparent;
}

.uw_button_input {
    border-radius: 0px 5px 5px 0px;
}

.uw_button_inverse {
    color: var(--uw_blue);
    border: 1px solid var(--uw_blue);
    background-color: var(--uw_lavender);
}

.uw_button_inverse:hover {
    color: var(--uw_orange);
    border: 1px solid var(--uw_orange);
    background-color: var(--uw_lavender);
}

.uw_input {
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: var(--primary_light);
}

.uw_small {
    color: var(--white);
    font-weight: lighter;
}

.uw_lighter {
    font-weight: lighter;
}

.sub-header{
    font-size: 4em ! important;
}

.text-education {
    color: var(--education);
}

.text-health {
    color: var(--health);
}

.text-income {
    color: var(--income);
}

.text-civic {
    color: var(--civic);
}

.text-community {
    color: var(--community);
}

@media screen and (max-width:750px) {
    .uw_input {
        border-radius: 0px;
    }

    .uw_button_input {
        border-radius: 5px;
    }
}


