{% extends 'layout.html' %}
{% block content %}
<div class="about-bkgrd">
    <div class="about-bkgrd-fade">

    </div>
</div>
<div class="jumbotron text-center col-xs-12 about-header">
    <div class="about-header-text">
        <h1 class="uw_lighter">About the Achievement Club</h1>
    </div>
</div>
<div class="about-description jumbotron text-center col-xs-12">
    <div class="about-description-wrapper container col-xs-8 col-xs-offset-2">
        <h2><strong>Our approach is unique because it promotes family accountability and encourages a cycle of giving back with a two-generation approach.</strong></h2>
    </div>
</div>
<div class="about-content jumbotron col-xs-12">
    <div class="col-md-6 about-content-pic">
        <div class="col-md-12 about-content-pic-fade">

        </div>

    </div>
    <div class="col-md-6 about-content-text col-md-6">
        <div class="container about-content-text-wrapper">
            <h2>The Community Helps You</h2>
            <h3 class="uw_lighter">Families in crisis are connected to a case management service. The primary goal is <strong>stabilizing connection to essential services</strong>.</h3>
            <br>
            <h2>You Help Yourself</h2>
            <h3 class="uw_lighter">Families work on their dreams by reaching goals. They build <strong>self efficacy</strong> and <strong>resiliency</strong>.</h3>
            <br>
            <h2>You Help the Community</h2>
            <h3 class="uw_lighter">In this step families give back and engage with their neighbors. This builds <strong>local leadership</strong> and <strong>collective efficacy</strong>.</h3>
        </div>
    </div>
    <div class="col-md-6 about-peer-support">
        <div class="peer-support-table text-center">
            <div class="">
                <img src="{{ url_for('static', filename='images/handshake.png') }}">
            </div>
            <div class="">
                <h2>Peer Support</h2>
                <h4 class="uw_lighter">Participants join a <strong>group of neighbors</strong> to set goals for improvement.</h4>
            </div>
        </div>

    </div>
    <div class="col-md-6 about-cc-transfers">
        <div class="cc-transfers-table text-center">
            <div class="">
                <img src="{{ url_for('static', filename='images/user.png') }}">
            </div>
            <div class="">
                <h2>Conditional Cash Transfers</h2>
                <h4 class="uw_lighter">Participants get a <strong>cash reward</strong> each step along the way for meeting goals.</h4>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron about-goals text-center col-xs-12">
    <div class="container col-xs-12 goals-container">
        <div class="col-xs-8 col-xs-offset-2 goals-header">
            <!--<h2 class="uw_lighter">As an Achievement Club family member, you have the opportunity to <strong>set and achieve goals</strong> in <strong>5 focus areas </strong>within the atmosphere of a <strong>supportive group of neighbors</strong></h2>-->
            <h2 class=""><strong>As an Achievement Club family member, you have the opportunity to set and achieve goals in 5 focus areas within the atmosphere of a supportive group of neighbors</strong></h2>

        </div>
        <div class="goals-wrapper">
            {% for goal in goals %}
            <div class="goal-wrapper">
                <div class="goal" id="{{ goal['name'] }}">
                    <div class="{{ 'goal-content text-' + goal['name'] }}">
                        <div class="goal-img-wrapper" >
                            <div class="goal-img">
                                <img class="img-goal" src="{{ url_for('static', filename='images/' + goal['name'] + '-logo.png') }}">
                            </div>
                        </div>
                        <div class="goal-description-wrapper" id="{{ goal['name'] + '_desc' }}">
                            <div class="goal-desc">
                                <h3 class="uw_lighter">{{ goal['description'] }}</h3>
                            </div>
                        </div>
                        <h2 class="text-uppercase goal-name">{{ goal['name'] }}</h2>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="about-success-stories jumbotron text-center">
    <div class="container">

    </div>
</div>

{% endblock %}
