{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron main">
</div>
<div class="uw-logo">

</div>
<div class="uw-logo-img text-center jumbotron">
    <div>
        <img src="{{ url_for('static', filename='images/uw_logo.png') }}" height="60">
    </div>
    <div>
        <h1 class="logo-header">Achievement Club</h1>
    </div>

</div>
<div class="home-about-bkgrd">
    <div class="home-about-fade">


    </div>
</div>
<div class="jumbotron home-about text-center">
    <h1 class="sub-header">Our Mission</h1>
    <h2>Empower families to achieve their own goals</h2>
    <div class="col-xs-12 circles">
        <div class="col-xs-4">
            <div class="circle container">
                <img class="circle-img" src="{{ url_for('static', filename='images/hold.png') }}">
            </div>
            <h3 class="circle-text"><span class="uw_lighter">strengthen</span> <strong>communities</strong><span class="uw_lighter">, build ties, and create a neighborhood of accomplishment.</span></h3>
        </div>
        <div class="col-xs-4">
            <div class="circle container">
                <img class="circle-img" src="{{ url_for('static', filename='images/paper-plane.png') }}">
            </div>
            <h3 class="circle-text"><span class="uw_lighter">encourage </span><strong>aspiration</strong><span class="uw_lighter"> to help participants grow as leaders and take control of their lives.</span></h3>
        </div>
        <div class="col-xs-4">
            <div class="circle container">
                <img class="circle-img" src="{{ url_for('static', filename='images/flag.png') }}">
            </div>
            <h3 class="circle-text"><span class="uw_lighter">reward </span><strong>success</strong><span class="uw_lighter"> by recognizing good choices and giving individuals the confidence to tackle bigger goals.</span></h3>
        </div>
    </div>
    <div>
        <button onclick="window.location.href='/about';" class="uw_button btn btn-lg btn-default" type="button">LEARN MORE</button>
    </div>
</div>

<div class="jumbotron home-success text-center">
    <div class="success-videos">
        <div class="success-video-1 col-md-6">
            <iframe class="success-video" width="" height="" src="https://www.youtube.com/embed/uWzfFAIPAD8?rel=0&amp;controls=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
            <div class="success-video-overlay-purple success-video-overlay"></div>
            <div class="success-video-overlay-text">
                <h3 class="text-uppercase uw_lighter">Watch Melissa Wardley's Success Story</h3>
            </div>
        </div>
        <div class="success-video-content col-md-6">
            <div class="success-video-content-wrapper">
                <h2 class="uw_lighter text-uppercase">Melissa Wardley</h2>
                <h4 class="uw_lighter">Melissa Wardley joined the Achievement Club to pursue her goal of starting a small business, Wardley s Crafty Candies, and now it's a reality</h4>
            </div>
        </div>
        <div class="success-video-content col-md-6">
            <div class="success-video-content-wrapper">
                <h2 class="uw_lighter text-uppercase">Jimmie Gray</h2>
                <h4 class="uw_lighter">Jimmie Gray found new housing and worked successfully towards his goals after working with the United Way Vets Connect program and Achievement Club</h4>
            </div>
        </div>
        <div class="success-video-2 col-md-6">
            <iframe class="success-video" width="" height="" src="https://www.youtube.com/embed/kEO4uMDjBgI?rel=0&amp;controls=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
            <div class="success-video-overlay-orange success-video-overlay"></div>
            <div class="success-video-overlay-text">
                <h3 class="text-uppercase uw_lighter">Watch Jimmie Gray's Success Story</h3>
            </div>
        </div>

    </div>
</div>
<div class="jumbotron home-atl-map text-center">
    <div class="container map-wrapper">
        <div id="atlMap" class="col-md-6">

        </div>
        <div class="col-md-6 map-text">
            <div class="center-map-text">
                <img class="map-img" src="{{ url_for('static', filename='images/location.png') }}">
                <h2 class=""><strong>20 Achievement Club locations</strong><span class="uw_lighter"> around the metro area in Atlanta, Decatur, Brookhaven, Norcross, Marietta, College Park, Jonesboro, East Point, and Powder Springs</span></h2>
                <button type="button" class="btn btn-lg btn-primary uw_button map-button">GET INVOLVED</button>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron text-center home-involvement-wrapper">
    <div class="">
        <div class="container home-email col-xs-6">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/email.png') }}">
                <h2 class="text">Join our Email List</h2>
                <h4 class="home-about-sub-heading">Join the achievement club email list to receive updates about events</h4>
                <div class="row form-group col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                    <input type="text" placeholder="email" class="input-lg input col-xs-12 col-sm-6 col-md-8 uw_input">
                    <span><button type="button" class="btn btn-lg btn-primary uw_button uw_button_input col-xs-12 col-sm-6 col-md-4">SIGN UP</button>
                    </span>
                </div>
                <!--<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
            </div>
        </div>
        <div class="container col-xs-6 home-involvement">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/teamwork.png') }}">
                <h2>Find Resources</h2>
                <h4 class="home-about-sub-heading">Access achievement club member resources and tools</h4>
                <button onclick="window.location.href='/resources'" type="button" class="btn btn-lg btn-primary uw_button">CLICK HERE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}