<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>United Way Achievement Club</title>
    <meta name = 'description' content = "Website for United Way Achievement Club">
    <meta name = 'author' content = "Sruti Guhathakurta">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Enriqueta:300,400,700" rel="stylesheet">

    {% block extrastyle %} {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" defer></script>


    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<body {% block class %} {%endblock %} onload="addActiveClass();">
<nav id="navbar" class="navbar navbar-inverse bg-inverse fixed-top">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center nav-items">
        <ul class="list-unstyled list-inline">
            <div class="col-xs-1"></div>
            <li class="col-xs-2 text-uppercase"><a id="home" class="nav-item" href="{{ url_for('home') }}">Home</a></li>
            <li class="col-xs-2 text-uppercase"><a id="about" class="nav-item" href="{{ url_for('about') }}">About</a></li>
            <li class="col-xs-2 text-uppercase"><a id="resources" class="nav-item" href="{{ url_for('resources') }}">Resources</a></li>
            <li class="col-xs-2 text-uppercase hover-dropdown">
                <a id="counties" class="nav-item">Counties
                    <span class="nav-dropdown-icon glyphicon glyphicon-chevron-down"></span>
                </a>
                <div class="counties-dropdown">
                    <ul class="dropdown-items list-unstyled">
                        <li><a href="{{ url_for('county') }}" class="text-uppercase nav-item nav-dropdown-item" id="Fulton">Fulton</a></li>
                        <li><a href="#" class="text-uppercase nav-item nav-dropdown-item" id="Gwinnett">Gwinnett</a></li>
                    </ul>
                </div>
            </li>
            <li class="col-xs-2 text-uppercase"><a id="contact" class="nav-item" href="#footer-contact">Contact</a></li>
            <div class="col-xs-1"></div>
        </ul>
    </div>

</nav>
{% block content %}
{% endblock %}
<a id="footer-contact">
    <footer class="">
        <div class="col-xs-12 jumbotron uw_footer">
            <div class="container">
                <div class="col-xs-12 col-md-6">
                    <h2><strong>United Way of Greater Atlanta</strong></h2>
                    <h4><strong>Address: </strong><span class="uw_small">100 Edgewood Ave NE
                    Atlanta, GA 30303</span></h4>
                    <h4><strong>Telephone: </strong><span class="uw_small">404-614-1024</span></h4>
                    <div class="row social-icons">
                        <img class="social-icon" src="{{ url_for('static', filename='images/email-envelope-outline.png') }}">
                        <img class="social-icon" src="{{ url_for('static', filename='images/facebook-letter-logo.png') }}">
                        <img class="social-icon" src="{{ url_for('static', filename='images/youtube-logo.png') }}">
                        <img class="social-icon" src="{{ url_for('static', filename='images/linkedin-logo.png') }}">
                    </div>
                    <h4><small class="uw_small">If you have questions or want to know how to get involved, either as an Achievement Club member or as a volunteer, do not hesitate to get in contact with us!</small></h4>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div id="map">

                    </div>
                    <script>
                  function initMap() {
                    var ac_locations;
                    var request = new XMLHttpRequest();
                    request.onreadystatechange = function() {
                        if (request.readyState === 4) {
                            if (request.status === 200) {
                                ac_locations = JSON.parse(request.responseText).data;
                                ac_locations = JSON.parse(ac_locations);
                                var styles_request = new XMLHttpRequest();
                                styles_request.onreadystatechange = function() {
                                    if (styles_request.readyState === 4) {
                                        if (styles_request.status === 200) {
                                            styles = JSON.parse(styles_request.responseText).data;
                                            styles = JSON.parse(styles);
                                            createMap(ac_locations, styles);
                                        } else {
                                            console.log(styles_request.responseText);
                                        }
                                    }
                                };
                                styles_request.open("GET", '/mapstyles' , true);
                                styles_request.send(null);
                            } else {
                                console.log(request.responseText);
                            }
                        }
                    };
                    request.open("GET", '/locations' , true);
                    request.send(null);

                  }

                  function createMap(ac_locations, styles) {
                    console.log(ac_locations);
                    createFooterMap();
                    if (document.location.pathname === '/home') {
                        createHomeMap(ac_locations, styles);
                    }
                  }

                  function createFooterMap() {
                    var united_way = {lat: 33.754740, lng: -84.385578};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: united_way
                    });
                    var marker = new google.maps.Marker({
                      position: united_way,
                      map: map
                    });
                  }

                  function createHomeMap(ac_locations, styles) {
                    var united_way = {lat: 33.754740, lng: -84.385578};
                    var bounds = new google.maps.LatLngBounds();
                    var markers = [];
                    var infowindows = [];

                    var atl_map = new google.maps.Map(document.getElementById('atlMap'), {
                      zoom: 9,
                      center: united_way,
                      gestureHandling: 'none',
                      zoomControl: false,
                      disableDefaultUI: true,
                      styles:styles
                    });
                    for (var i = 0; i < ac_locations.length; i++) {
                        var position = {lat: ac_locations[i].latitude, lng: ac_locations[i].longitude};
                        var address = ac_locations[i].address;
                        var name = ac_locations[i].name;
                        var content = "<h4>" + name + "</h4><h5>" + address + "</h5>";
                        markers[i] = new google.maps.Marker({
                          position: position,
                          map: atl_map,
                          title: name,
                          icon: '/static/images/uw_icon.png',
                          id: i
                        });
                        infowindows[i] = new google.maps.InfoWindow({
                          content: content
                        });
                        google.maps.event.addListener(markers[i], 'click', function () {
                            infowindows[this.id].open(atl_map, markers[this.id]);
                        })

                        bounds.extend(position);
                    }

                    atl_map.setCenter(bounds.getCenter());
                    atl_map.fitBounds(bounds);
                  }
                </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgXT-_q6uCYdyAeDqEkfIDVLUKicJ83Ng&callback=initMap">
                    </script>

                    <!-- AIzaSyAgXT-_q6uCYdyAeDqEkfIDVLUKicJ83Ng -->

                </div>

            </div>

        </div>
    </footer>
</a>

</body>