{% extends 'layout.html' %}
{% block content %}

<div class="login-resources container">
    <div class="login-form jumbotron container text-center">
        <h4 class="text-uppercase uw_lighter login-header">Members please <strong>log in</strong> to continue</h4>
        <form class="form col-md-10 col-md-offset-1">
            <div class="row">
                <input class="input input-lg col-md-6 col-md-offset-3 login_input" type="text" placeholder="username">
            </div>
            <div class="row">
                <input class="input input-lg col-md-6 col-md-offset-3 login_input" type="password" placeholder="password">
            </div>
            <div class="row">
                <button class="btn btn-lg btn-default col-md-6 col-md-offset-3 uw_button" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}