<div class="admin-dash-item col-xl-2 col-md-3 col-xs-4 success-story-item">
    <div class="text-center success-story-item-wrapper add-story-wrapper">
        <div class="success-story-item-content">
            <div class="success-story-item-center add-story-item-center">
                <button onclick="openSuccessModal()" data-toggle="modal" data-target="#success-story-modal" class="add-story-btn"><span class="glyphicon glyphicon-plus add-glyph"></span></button>
                <h4>Add Story</h4>
            </div>
        </div>
    </div>
</div>

{% include 'admin-dash/success_stories/add_edit_modal.html' %}