<div class="admin-dash-item col-md-3 success-story-item">
    <div class="admin-dash-item-wrapper success-story-item-wrapper">
        <div class="success-story-item-content">
            <div class="success-story-item-center">
                <div class="col-xs-12 success-story-items">
                    <div class="col-xs-3 success-story-items">
                        <img class="success-story-img" height="50" width="50" src="{{ url_for('static', filename='images/' + story['Photo']) }}">
                    </div>
                    <div class="col-xs-9 success-story-items">
                        <h4 class="col-xs-9">{{ story.Name }}</h4>
                    </div>
                </div>
                <div class="success-story-descript col-xs-12 success-story-items">
                    <h6>{{ story.Success_Story }}</h6>
                </div>
                <h6><strong>Video: </strong>www.youtube.com</h6>
            </div>
        </div>
    </div>
</div>